{erl_opts, [debug_info, 
            fail_on_warning, 
            warnings_as_errors]}.

{cover_enabled, true}.
{cover_export_enabled, true}.

{clean_files, ["*.eunit", "ebin/*.beam"]}.
{eunit_opts, [verbose,
   {report, {eunit_surefire, [{dir, "."}]}}]}.

{deps , [ { coveralls , ".*", {git, "git://github.com/markusn/coveralls-erl.git", "master"}} ]}.
{plugin_dir, "deps/coveralls/src"}.
{coveralls_coverdata, ".eunit/eunit.coverdata"}.
{coveralls_service_name , "travis-ci"}.